@model IEnumerable<ProductCardResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Aradığınız ürünler burada!</p>
</div>

<div class="container">
    <div class="row">

        @foreach (var productCard in Model)
        {
            <div class="col-3">
                <div class="card">
                    <img class="img-thumbnail" src="@productCard.ImageUrl" alt="@productCard.Name" />
                    <div class="card-body">
                        <p class="card-text">@productCard.Name</p>
                        <p class="card-text">@productCard.Description</p>
                        <p class="card-text">@productCard.Price TL</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success ">Sepete Ekle</button>
                    </div>

                </div>
            </div>
        }
    </div>

</div>

